{% extends "french/layout_fr.html" %}
{% block content %}
<div class="container">

    <h2>Why Learn Young?</h2>
    
    <p>
        Young children are uniquely suited to learning language.
        Research shows that the developing brain is
        hard-wired for language aquisition. Take advantage of our
        natural ability to learn language easily and sign your
        children up for German language lessons!
        <img border="0" src="{{ url_for('static', filename='art/class.png') }}" class="float-right"></p>
    <h3>Linguistic Benefits</h3>
    <p>Young language learners can acquire native-like fluency as
        easily as they learned to walk.</p>
    <ul>
        <li>Learning a second language young is very natural - and easier
            than it will ever be again.
        </li>
        <li>Children learn a second language differently from adults,
            building a second language
            system alongside, not through the first.
        </li>
        <li>Children absorb the sounds, structures, intonation
            patterns and rules of a second language intuitively
            without rote memorization or grammar drills.
        </li>
        <li>Children can mimic a native-like accent flawlessly.</li>
    </ul>
    <p>
        Older learners begin to lose the ability to hear and reproduce
        new sounds starting as soon as age 8, resulting in
        a permanent foreign-sounding accent in any language.
        Younger learners benefit from flexible ear and speech
        muscles that can still hear the critical differences
        between the sounds of a second language, as well as
        reproduce them with native-like quality.

        <img src="{{ url_for('static', filename='art/brain.png') }}" alt="brain" class="float-right"></p>

    <h3>Cognitive Benefits</h3>
    <p>
        Children who learn a language young go on to show enhanced
        spatial relations and problem solving skills, stronger
        overall communications skills, and higher elementary
        and SAT test scores.
    </P>
    <P>
        While some parents worry that starting their toddler
        on a second language will interfere with developing
        English skills, the opposite is actually true. Children
        can differentiate between two languages within the first
        weeks of life; learning another language actually enhances
        a child's overall verbal development, says Roberta Michnick
        Golinkoff Ph.D, author of <i>How Babies Talk</i>.
    </p>
    <p>
        The research goes on to show a number of additional
        cognitive benefits to learning a second language at
        an early age. Children who learn a second language show
        higher cognitive performance in overall basic skills in
        elementary school. According to the College Entrance
        Examination Board, they go on to score higher on SATs.
        Children who learn a second language at a young age
        also exhibit better problem solving skills, enhanced
        spatial relations, and heightened creativity. Learning
        a second language early on encourages flexible thinking
        and communication skills, helping children consider
        issues from more than one perspective.
          </p>

    <h3>Lifelong Benefits  <img src="{{ url_for('static', filename='art/grads.jpg') }}" alt="grads" class="float-right"> </h3>
    <p>
        The gift of language is an investment that last a lifetime!

        Young learners enrich their lives and open up doors
        to their future by gaining: </p>
    <ul>
        <li>An expanded world view.</li>
        <li>Greater intercultural appreciation and sensitivity.</li>
        <li>Ability to learn additional languages more easily.</li>
        <li>A competitive edge in future markets and the
            global marketplace.
        </li>
    </ul>
<hr>
    <!-- <a class="btn btn-rose float-right" target="_blank" href="{{ url_for('static', filename='files/lm-reg-kids.pdf') }}">Registraton form</a> -->
    <h2>Young Students</h2>&nbsp;

     <p>Group classes have a maximum of six students each, so that each
        child receives personal attention. Classes
        start with the school calendar, in September (fall term) and January
        (spring term). Each term is 16 weeks long. Students are accepted throughout
        the year and tuition is pro-rated.

    </p>
    <p>There are various summer classes available for various levels and ages. Please email us for more details.</p>
    <img class="float-right" border="0" src="{{ url_for('static', filename='art/cert.png') }}">

        <p>
        <a name="free">We offer a free consultation and evaluation lesson to
        every prospective student. The purpose of this meeting is to
        find out what level and kind of lessons are right for the
        student. An added benefit is that the student can meet the teacher and find
        out more about us.</a>
        </p>
    <h3>Classes are available for various levels and ages</h3>

    <ul>
        <li><b>German as a Foreign Language</b></li>
        <ul>
            <li>Level: German for Toddlers Ages 18 months - 3 1/2 years</li>
            <li>Level: Preschool through Kindergarten Ages 4-6</li>
            <li>Level: Beginners Ages 6-8</li>
            <li>Level: Beginners Ages 8-11</li>
            <li>Level: Beginners Ages 9-12</li>
        </ul>
            <li><b>German as a Native Language</b></li>
        <ul>
            <li>Level: German for Toddlers Ages 18 months - 3 1/2 years</li>
            <li>Level: Preschool through Kindergarten Ages 4-6</li>
            <li>Level: German as a Second Language 1 Ages 6-9</li>
            <li>Level: German as a Second Language 2 Ages 10-13</li>
            <li>Level: German as a Second Language 2 Ages 10-13</li>
            <li>Level: German as a Second Language 3 for Teenagers
                (includes preparation for AP German test)</li>
        </ul>
            <li><b>German as a Second Language</b></li>
        <ul>
            <li>Level: German as a Native Language 1 <i>corresponds to German Kindergarten</i></li>
            <li>Level: German as a Native Language 2 <i>corresponds to German Klasse 2 und 3</i></li>
            <li>Level: German as a Native Language 3 <i>corresponds to German Klasse 4 und 5</i></li>
            <li>Level: German as a Native Language 4 <i>corresponds to German Klasse 6 und 7</i></li>
            <li>Level: German as a Native Language 5 <i>corresponds to German Klasse 8 und 9</i></li>
            <li>Level: German as a Native Language 6 <i>corresponds to German Klasse 10 bis 12</i></li>
        </ul>
            <li><b>Private and Semi-Private Instruction</b></li>
        <ul>
            <li>If your schedule does not permit attending our scheduled classes, you may be interested in private instruction. We can arrange classes at times and locations to suit your busy schedule, at a price that offers excellent value for money. Please contact us for details.</li>
        </ul>
    </ul>


</div>
{% endblock %}