{% extends "french/layout_fr.html" %}
{% block content %}
<div class="container">
    <p>
        Please contact us to arrange a free consultation with no obligation.
        Or you can call or email to discuss how we can help you
        or your children learn German. Please contact us today!
        <a href="mailto:germanlanguage101.com@gmail.com">germanlanguage101.com@gmail.com</a>
    </p>
    <p>Keep in touch with us via our Facebook page &nbsp;<a target="_blank" href="https://www.facebook.com/Lingua-Marin-German-Language-School-124589070959562/" class="fa fa-facebook"></a></p>


    <p>
        <em>We serve students in Mill Valley, San Anselmo, Tiburon, Novato,
            San Rafael, Fairfax, Sausalito,
            Larkspur, Corte Madera, and also the East Bay and San Francisco.</em>
        <br>
    </p>
    <hr>
    <strong>Interesting in working for us? <a href="{{ url_for('job_fr') }}">Click here to learn more.</a></strong>



</div>
{% endblock %}