{% extends "en/layout.html" %}
{% block content %}
<div class="container">
<h2>About German Language 101</h2>

<p>Susanne Irwin started teaching German in Marin in September 2006 with just eleven students, under
the name "Lingua Marin". For nearly five years, Lingua Marin grew into a vibrant specialty school.
Susanne took a family sabbatical in Canada in 2013, returning to Marin in the Spring of 2014. </p>
<p>
Lingua Marin is now German Language 101.  
</p>
<p>
<h2>About Susanne Irwin</h2>

<p>Germany and at the University of Strasbourg, France where she recieved 
a degree in linguistics.
</p>
<p>
Susanne taught German and English in Zurich, German in Strasbourg,
 and French across the Rhine River in Kehl, Germany.  She taught German at the 
University of Cambridge in Cambridge, England for four years prior to moving 
to the US.
</p>
<p>
Susanne is particularly proud that her two children are completely bilingual 
and bicultural, even though they have never lived in Germany.  It is this gift of 
language that Susanne aims to share with her students here in Marin County.
</p>

<p>For a <b>free consultation</b> with no obligation, please contact us at (415) 938-9490 or germanlanguage101.com@gmail.com!
</p>

</div>
{% endblock %}