{% extends "en/layout.html" %}
{% block content %}
<div class="container">
    <h3>Would you like to work at German Language 101?</h3>
        German Language 101 is currently recruiting German teachers
        for both children and adults.
        Naturally we are only interested in excellent teachers who are friendly,
        enthusiastic, and organized. We offer competitive remuneration, an
         accommodative work schedule, and an
        opportunity to share your love of German with appreciative students. We are currently
        looking for part time instructors.
        </p>
        <p>If you are interested, please write us at linguamarin@gmail.com
        and include your resume and a letter of motivation.
        </p>

</div>
{% endblock %}