{% extends "en/layout.html" %}
{% block content %}
<div class="container">
<h3><b><a name="products">Products and Services we Recommend</a></b></h3>
<ul>

<li><a href="http://www.amazon.de" target="_blank">Amazon.de</a> - books, dvds, cds, etc</li>
<li><a  target=_blank href="http://www.bostonteacampaign.com">
Boston Tea Campaign</a> - A branch of Teekampagne (Germany)</li>
<li><a  target=_blank href="http://dreamhomez.com">Dreamhomez</a> - Realtor Carol Hudson</li>


<li><a  target=_blank href="http://ibiservice.com">
International Book Import Service</a></li>

<li><a  target=_blank href="http://mein.moxx.com">Moxx TV</a>
 - for live and recently recorded German TV in the US</li>



<li><a target=_blank href="http://www.zappos.com">Zappos.com</a> - for German Shoes</li>
</ul>

<hr>
    <h3><b>German TV, newspapers, and other media</b></h3>
<ul>
<li><a target=_blank href="http://www.dw-world.de/">Deutsche Welle</a>
 - International German Television </li>

<li><a target=_blank href="http://www.zeit.de">Die Zeit</a> (weekly newspaper)</li>
<li><a target=_blank href="http://www.geo.de/GEOlino/">Geolino</a>
- Geographical and cultural magazine for children</li>

<li><a target=_blank href="http://www.tagesschau.de">Tagesschau</a>
 - daily evening news from German Channel 1 (ARD)</li>

</ul><hr>
    <h3><b><a name="websites">Dictionaries</a></b></h3>
<ul>
<li><a target=_blank href="http://en.bab.la/dictionary/english-german/">
BabLa English-German translator</a></li>

<li><a target=_blank href="http://dict.tu-chemnitz.de/">Dictionary and Translation</a></li>

<li><a target=_blank href="http://dict.leo.org/ende?lang=de&lp=ende&search=">LEO Translator</a></li>

</ul><hr>
    <h3><b>Other useful website</b></h3>
    <ul>
        <li><a href="http://www.germany-usa.com/">Germany-USA.com</a></li>

    </ul>




</div>
{% endblock %}