p{
    font-size:12pt !important;
}

body{
    padding-left: 50px !important;
    padding-right:50px !important;
    background:#eeeeee !important;
}

.content{
    padding:20px;
    background:#ffffff;
}
img{
    display:block !important;
    padding:10px !important;
    overflow:hidden !important;
}
hr {
  postition:relative;
}

.footer {
    color: #fff;
    padding: 5px 5px 5px 5px;
    background: #44b !important;
    text-align:center;
    margin-top:auto;
    margin-bottom: auto;
}
.borderless td, .borderless th {
    border: none;
}
.fa {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 20pt;
  line-height:1.45;
  border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.container {
    overflow: hidden;

}