{% extends "layout.html" %}
{% block content %}
<div class="container">
     <a class="btn btn-rose float-right" target="_blank" href="{{ url_for('static', filename='files/lm-reg-adults.pdf') }}">Registration form</a>
<h2>Adult Students</h2>

    <p>Group classes have a maximum of six students each, so that each
        student receives personal attention. Classes
        start in September (fall term) and February
        (spring term). Classes do start at other times
        corresponding to the needs of our students. Students can join
        classes at any time of the year and tuition is pro-rated.</p>

    <img class="float-right" border="0" src="{{ url_for('static', filename='art/cert.png') }}">

        <p>
        <a name="free">We offer a free consultation and evaluation lesson to
        every prospective student. The purpose of this meeting is to
        find out what level and kind of lessons are right for the
        student. An added benefit is that the student can meet the teacher and find
        out more about us.</a>
        </p>
    <h3>Classes are available for various levels and ages</h3>
    <ul>
        <li><b>German for Beginners</b></li>
        <ul>
            <li>Level: Beginners Level A1.1<i>(complete beginners)</i></li>
            <li>Level: Beginners Level A2.1</li>
            <li>Level: Beginners Level A2.1</li>
        </ul>
        <li><b>Intermediate German</b></li>
        <ul>
            <li>Level: Intermediate Level B1.1</li>
            <li>Level: Intermediate Level B1.2</li>
            <li>Level: German Culture Through Film <i>(Movie Nights)</i></li>
        </ul>
        <li><b>Advanced German</b></li>
        <ul>
            <li>Level B2</li>
            <li>German Culture Through Film <i>(Movie Nights)</i></li>
        </ul>
    </ul>


</div>
{% endblock %}