{% extends "layout.html" %}
{% block content %}
<div class="container">
    <p>
        Please contact us to arrange a free consultation with no obligation.
        Or you can call or email to discuss how we can help you
        or your children learn German. Please contact us today!
        <a href="mailto:germanlanguage101.com@gmail.com">germanlanguage101.com@gmail.com</a>
    </p>
    <p>
        <br/>
        <em>We serve students in Mill Valley, San Anselmo, Tiburon, Novato,
            San Rafael, Fairfax, Sausalito,
            Larkspur, Corte Madera, and also the East Bay and San Francisco.</em>
        <br/>
    </p>


</div>
{% endblock %}