
<nav class="navbar sticky-top navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand" href="{{ url_for('home') }}"><strong>German Language 101</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" id="nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('whygerman') }}">Why Learning German?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('children') }}">Children</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('adults') }}">Adults</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{ url_for('aboutus') }}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('resources') }}">Resources</a>
      </li>
      <li class="nav-item dropdown mt-1 ml-3">
       
        <button href="#" class="dropdown-toggle btn btn-rose btn-round " id="dropdownMenuButton" data-toggle="dropdown">Register Now!<b class="caret"></b></button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header">Registration Form</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('static', filename='files/lm-reg-kids.pdf') }}">For Children</a>
        
          <a class="dropdown-item" href="{ url_for('static', filename='files/lm-reg-adults.pdf') }}">For Adults</a>
         
        </div>
      </li>
    </ul>
  </div>
</nav>